<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unique Digits Checker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="mt-5 text-center">чи є в числі унікальні цифри</h1>
        <div class="card p-4 mt-4">
            <form method="post" action="{{ url_for('index') }}">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.number.label(class="form-label") }}
                    {{ form.number(class="form-control") }}
                </div>
                {{ form.submit(class="btn btn-primary btn-block") }}
            </form>
        </div>
    </div>
</body>
</html>
